<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Hello world!</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='hello.css', v=1)}}">
</head>
<body>
<stylesheet>
    * {
        background-color: rgb(34, 34, 34);
    }
    .cs {
        color: aqua;
    }
    
    h5 {
        color: aqua;
        
    }
</stylesheet>
<h5 class = "cs" color = "red">It works!<h5>
    
    <div class="center-img">
        <img src="./img/red.jpg" alt="Центрируем изображение"  >
        <h3>State free 
            for free people
            and free souls
        </h3>
    </div>
    <div class="texted">
        <h5>
        Спасаясь от депрессии, вызванной событиями в Патюраже, Ван Гог снова обратился к живописи, всерьёз задумался об учёбе и в 1880 году при поддержке брата Тео уехал в Брюссель, где начал посещать занятия в Королевской Академии изящных искусств. Однако через год Винсент бросил учёбу и вернулся к родителям. В этот период жизни он считал, что художнику вовсе не обязательно иметь талант, главное — много и усердно трудиться, поэтому он продолжил занятия самостоятельно.
        </h5>    
    </div>
    <div class="center-img">
        <img src="./img/moon2.jpg" alt="Центрируем изображение"  >
        <h4>some moon</h4>
    </div>
    <div class="center-img">
        <img src="./img/Rick.jpg" alt="Центрируем изображение"  >
        <h4>some rick</h4>
    </div>
    <div class="center-img">
        <img src="./img/morty.jpg" alt="Центрируем изображение"  >
        <h4>some morty</h4>
    </div>


    <h2 class="header">try to stay <a href="https://ru.wikipedia.org/wiki/Rammstein">Rammstein</a></h2>


</body>
</html>